<header>
    <mat-toolbar color="primary">Login Page</mat-toolbar>
  </header>
  
  <section class="container">
    <mat-card > 
        <div *ngIf="auth.isAuthenticated();">
            <div class="row">
                <div class="col-md-12">
                    You are logged in Please click home to continue!
                </div>    
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button mat-raised-button color="primary" (click)="navigateHome()">Home</button>
                </div>
            </div> 
        </div>
        <div *ngIf="!auth.isAuthenticated();">
            <div class="row" >
                <div class="col-md-12">
                    Please click login to Continue!
                </div>
            </div>
            <div class="row" *ngIf="!auth.isAuthenticated();" >
                <div class="col-md-12">
                    <button mat-raised-button color="primary" (click)="auth.login()">Login</button>
                </div>
            </div>
        </div>
        
        
    </mat-card>
  </section>
  
  <footer></footer>
